@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@400;700&display=swap');

@import "tailwindcss";

@theme {
    --font-crimson: 'Crimson Text', serif;
    --font-playfair: 'Playfair Display', serif;
}

:root {
    color-scheme: light !important;
}

body {
    @apply font-crimson;
}
