@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@400;700&display=swap');
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light !important;
    --red-orange: #C02425;
    --yellow-orange: #F0CB25;
}

body {
    @apply font-crimson;
}
